
  @font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Roboto-Bold';
    src: url('/assets/fonts/Roboto/Roboto-Bold.ttf');
  }
  
  #app {
    width: 100%;
  }

  :root {
    --background: #f7f7f7;
    --background-secondary: #0c0e17;
    --background-announcements: #1c3c78;
    --announcements-opposite: #e8d46d;
    --card-description: #e3dede;
    --even-row: #eef2f5;
    --text-primary: black;
    --text-secondary: #151414;
    --text-tertiary: #2e2215;
    --text-link-hover: #00aeff;
    --text-link-no-hover: #355aa4;
    --text-mild: #e1e1e1;
    --text-opposite: white;
    --accent-1: #a0a3d8; 
    --accent-2: #d5ef95;
    --border: black;
    --select-menu: #e0e0eb; 
    --adv-button: #f5f7fa;
    --adv-button-clicked: #6d6f8a;
    --format-button: #f7f7f7;
    --format-button-hover: #41474f;
    --portal-button: #f7f7f7;
    --portal-button-hover: #41474f;
    --forbidden-border: #b30000;
    --forbidden-background: #ffe6e6;
    --limited-border: #cc7a00;
    --limited-background: #f8e3cf;
    --semi-limited-border: #ffbf00;
    --semi-limited-background: #fff9e6;
    --limited-1-border: #cc7a00;
    --limited-1-background: #f8e3cf;
    --limited-2-border: #ffbf00;
    --limited-2-background: #fff9e6;
    --limited-3-border: #ffe600;
    --limited-3-background: #ffffe6;
    --unlimited-border: #7db300;
    --unlimited-background: #f4ffe6ff;
    --main-deck-border: #990099;
    --main-deck-background: #ffe6ff;
    --side-deck-border: #00a3cc;
    --side-deck-background: #e6faff;
    --extra-deck-border: #ffbf00;
    --extra-deck-background: #ffffe6;
    --countdown: #334569;
  }
  
  [data-theme='dark'] {
    --background: #212023;
    --background-secondary: #0b0b0d;
    --background-announcements: #e8d46d;
    --announcements-opposite: #1c3c78;
    --card-description: #363333;
    --even-row: #302e35;
    --text-primary: white;
    --text-secondary: #f7f7f7;
    --text-tertiary: #e8e4e1;
    --text-link-hover: #40cd6d;
    --text-link-no-hover: #34AD5A;
    --text-mild: #efefef;
    --text-opposite: black;
    --accent-1: #373a82; 
    --accent-2: #367d4b;
    --border: #f7f7f7;
    --select-menu: #3f4050;
    --adv-button: #3f4050;
    --adv-button-clicked: #81a1d0;
    --format-button: #41474f;
    --format-button-hover: #f7f7f7;
    --portal-button: #41474f;
    --portal-button-hover: #f7f7f7;
    --forbidden-border: #390000;
    --forbidden-background: #774343;
    --limited-border: #302300;
    --limited-background: #846d48;
    --semi-limited-border: #3b1b00;
    --semi-limited-background: #7f5f45;
    --limited-1-border: #302300;
    --limited-1-background: #846d48;
    --limited-2-border: #3b1b00;
    --limited-2-background: #7f5f45;
    --limited-3-border: #3b3000;
    --limited-3-background: #7f7a45;
    --unlimited-border: #1e2b00;
    --unlimited-background: #576339;
    --main-deck-border: #2c002c;
    --main-deck-background: #623b62;
    --side-deck-border: #002731;
    --side-deck-background: #36535b;
    --extra-deck-border: #302300;
    --extra-deck-background: #917a55;
    --countdown: #00bca6;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    background-size: cover;
    background-attachment: fixed;
  }
  
  #theme {
    color: var(--text-primary);
    background-color: var(--background);
  }

  .ad-block-detected {
    margin: 30px auto;
    text-align: center;
  }

  .ad-block-detected p {
    max-width: 700px;
    margin: 10px auto;
  }

  .ad-block-detected a:link {
    color: #0000EE
  }

  .ad-block-detected a:visited {
    color: #551A8B
  }

    .login {
        width: 100px;
        background-color: #be0e54;
        font-size: 20px;
        color: #f7f7f7;
        padding: 11px;
        margin: 10px auto; 
        text-align: center;
        border-radius: 5px;
    }

    .login:hover {
        background-color: rgb(209, 156, 70);
        color: #0c0e17;
    }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr {
    font-family: 'Roboto-Bold';
    text-align: center;
    margin: 0px;
  }

  hr {
    border: 2px solid black;
  }
  
  a {
    text-decoration: none;
  }
  
  label {
    display: block;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
  
  input {
    color: var(--text-primary);
    background-color: var(--background);
    border-color: var(--text-tertiary);
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td,
  tr {
    padding: 10px;
    white-space: pre-wrap;
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }
  
  navigation a {
    display: inline-block;
    margin: 1em;
  }

  .body {
    min-height: 70vh;
    padding: 20px 0px;
  }
  
  .mobile-only, .hide {
    display: none;
  }
  
  .reveal {
      display: true
  }
  
  .show-cursor:hover {
      cursor: pointer;
  }
  
  .subheading {
    font-size: 30px;
  }
  
  #retrobot-flexbox {
    display: flex;
    padding: 1px;
    justify-content: center;
    align-content: center;
  }
  
  .retrobot-screenshot {
    max-height: 200px;
    width: auto;
    max-width: 98vw;
  }
  
  .eventThumbnail:hover, .deckThumbnail:hover, .badge:hover, .subheading#recent-events:hover, .subheading#popular-decks:hover {
    cursor: pointer;
    color: #34AD5A;
  }
  
  Link, .Link, .link, .link:hover, a, a:hover {
      text-decoration: none;
      color: var(--text-primary);
  }

  .inherit-color {
    color: inherit;
  }
  
  .h2 {
    text-align: center;
    font-size: 30px;
    padding: 0px;
    margin: 0px 0px 50px 0px;
  }
  
  .format-link,
  .admin-link,
  .typeButton {
    color: black;
    background-color: #f5f7fa;
  }
  
  .divider {
    width: 90%;
    border-top: 1.5px solid #9ba9cc;
    margin: 20px auto;
  }
  
  .popular-decks, .miniboard, .banlist {
    padding: 20px 0px;
  }
  
  .miniboard-title-flexbox {
    width: 640px;
    padding-bottom: 10px;
  }

  .horizontal-centered-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .horizontal-space-between-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .perks {
    list-style-position: inside;
    margin: 0px auto;
    padding: 0px !important;
    text-align: center;
  }

  .reminder-button {
    margin: 0px 20px;
  }
  
  .subcategory-title-flexbox {
    width: 800px;
    
  }
  
  .miniboard-title-flexbox, .subcategory-title-flexbox {
    padding: 0px 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    max-width: 90%;
  }
  
  .miniboard-title-flexbox:hover {
    cursor: pointer;
    color: #34AD5A;
  }
  
  .miniboard-title-flexbox img, .subcategory-title-flexbox img {
    -webkit-filter: drop-shadow(1px 0px 0 rgb(83, 74, 74))
                    drop-shadow(-1px 0px 0 rgb(83, 74, 74));
    filter: drop-shadow(1px 0px 0 rgb(83, 74, 74)) 
            drop-shadow(-1px 0px 0 rgb(83, 74, 74));
            padding: 4px;
  }
  
  .miniboard-title {
    font-size: 30px;
  }
  
  
  .black-text {
    color: black;
  }
  
  .no-padding {
    padding: 0px;
    height: 55px;
    width: auto;
  }
  
  .no-padding-2 {
    padding: 0px;
    height: 45px;
  }
  
  .no-padding-3 {
    padding: 0px;
    height: 48.5px;
  }
  
  .card-image-cell, .empty-image-cell {
    display: flex;
  }
  
  .card-image {
    padding: 10px 40px;
  }
  
  .player-cell, .format-cell-flexbox {
    height: 100%;
    width: 100%;
  }

  @media all and (max-width: 30em) {
    a.button1 {
      display: block;
      margin: 0.4em auto;
    }
  }
  
  select {
    display: inline;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3;
    padding: 6px 4px;
    box-sizing: border-box;
    margin: 0.1em 0.5em 0.2em 0.5em;
    border: 1px solid black;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.5em;
    color: var(--primary-text);
    background-color: var(--select-menu);
  }
  
  select::-ms-expand {
    display: none;
  }
  
  select:hover {
    border-color: #888;
  }
  
  select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #000000;
    outline: none;
  }
  
  select option {
    font-weight: normal;
  }
        
    .centered-content-flexbox {
        display: flex;
        justify-content: center;
    }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* TABLETS AND SMALL LAPTOPS */
  @media only screen and (max-width: 800px) {
    body {
      background: none;
      max-width: 100%;
    }
  
    li {
      display: none;
    }
  
    .post-content {
      width: 100%;
      min-width: 100%;
    }
  
    .desktop-only {
      display: none;
    }
  
    .divider {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .body {
      padding: 0px;
      margin: 0px;
      max-width: 100%;
      border: none;
    }
  
    .app {
      padding: 0px;
      max-width: 100%;
    }
  
    .blog {
      border: 0px;
      padding: 0px;
      margin: 0px;
    }
  
    .desktop-only {
      display: none;
    }
  
    .mobile-only {
      display: contents;
    }
  
    body {
      background: none;
      max-width: 100%;
    }
  
    .body {
      padding: 0px;
      margin: 0px;
      max-width: 100%;
      border: none;
    }
  
    .app {
      padding: 0px;
      max-width: 100%;
    }
    
    .status-icon {
      position: absolute;
      z-index: 1;
      max-width: 33% !important;
      top: 1%;
      left: 2.5%;
    }
  
    .blog-divider {
      margin: 10px auto;
    }
  
    /* BLOG */
  
    .blogpost {
      margin: 0px;
      padding: 0px;
    }
  
    .blogpost-title-flexbox {
      padding: 10px 20px;
      margin: 0px auto;
      max-width: 90%;
      align-items: center;
    }
  
    .blogpost-date {
      display: none;
    }
  
    .blogpost-paragraph {
      padding: 10px;
      font-size: 11pt;
    }
  
    .blogpost-content-flexbox {
      max-width: 100vw;
      margin-left: auto;
      margin-right: auto;
    }
  
    .blogpost-title {
      padding: 0px 10px 0px 0px;
      margin: 0px;
      text-align: left;
      font-size: 16pt;
      font-family:'Roboto-Bold';
      font-weight: bold;
    }
  
    .blogpost-title h1 {
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
  
    .blogpost-format-icon {
      max-width: 50px;
      height: auto;
    }
  
    .blogpost-event-icon {
      display: none;
    }
  
    .blogpost-title-emojis {
      min-width: 0px;
    }
  
    .blogpost-deck-link img {
      min-width: 99vw;
      width: 99vw;
    }
  
    .deck-flexbox.card-image {
      display: block;
      min-width: 98%;
      width: 98%;
      max-width: 98%;
      height: auto;
      padding: 0px;
      margin-left: 1%;
      margin-right: 1%;
      overflow: none;
    }
  
    .blogpost-deck-box, .blogpost-images-flexbox {
      display: block;
      min-width: 98vw;
      height: auto;
      padding: 0px;
      margin-left: 0px;
      margin-right: 0px;
      overflow: none;
    }
  
    .blogpost-deck-box {
      margin: 0px 1%;
    }
  
    .blogpost-pfp, .blogpost-community {
      display: none;
      border-radius: 50%;
    }
    
    .blogpost-deck-link {
      width: 99%;
      min-width: 99%;
      max-width: 99%;
      height: auto;
      margin-right: auto;
      margin-left: auto;
    }
  
    .blogpost-deck-link img:hover, .blogpost-deck-link img:active{
      padding: 0px;
      border: 0px;
      border-radius: 0px;
    }
  
    .blogpost-deck-link img {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: 0px;
      border: 0px;
      border-radius: 0px;
      max-height: auto;
      margin-right: auto;
      margin-left: auto;
    }
  
    .blogpost-deck {
      padding: 0px;
      border: 0px;
      max-height: auto;
      margin-right: auto;
      margin-left: auto;
    }
  
    .discord-desc {
      display: none;
    }
  
    .chart-flexbox {
      flex-direction: column;
      justify-content: space-between;
      padding: 0px;
    }
  
    .doughnut-container, .bargraph-container {
      margin: 20px auto;
    }
  
    .doughnut, .bargraph {
      max-width: 90vw;
      max-height: 90vw;
    }
  
    .leaderboard-title {
      font-size: 22pt;
    }
  
    .miniboard-title-flexbox img {
      width: 50px;
      max-width: 50px;
      height: auto;
    }
  
    .miniboard {
      padding: 4px 0px;
    }
  
    .card-database-flexbox {
      margin: 0px;
      padding: 0px;
      width: 100vw;
      max-width: 100vw;
      justify-content: space-around;
    }
  
    .event-database-flexbox {
      margin: 0px;
      padding: 0px;
      max-width: 100vw;
      justify-content: space-around;
    }
  
    .card-database-flexbox h1 {
      font-size: 24pt;
      padding: 2px 10px;
    }
  
    .event-database-flexbox h1 {
      font-size: 24pt;
      padding: 2px 10px;
    }
  
    .event-database-flexbox img {
      max-height: 56px;
      max-width: 64.81px;
      padding: 5px 0px;
    }
  
    .eventThumbnail-flexbox {
      width: 80%;
      margin: 0px auto 10px;
      justify-content: center;
    }
  
    .eventThumbnail-image {
      width: 30%;
    }
  
    .eventThumbnail-player-pfp {
      width: 30%;
    }
  
    .popular-decks-flexbox {
      margin: 6px 0px 0px;
    }

    .recent-events-flexbox {
      margin: 6px 0px 0px;
    }
  
    #popular-decks {
      padding: 4px 0px;
    }
  
    #banlist {
      margin: 10px 0px;
      padding: 0px;
    }
  
    .banlist-flexbox {
      padding: 0px;
      justify-content: center;
    }
  
    #forbidden, #limited, #semi-limited, #unlimited {
      width: 100%;
      max-width: 100%;
    }
  
    #forbidden.banlist-bubble, #limited.banlist-bubble, #semi-limited.banlist-bubble, #unlimited.banlist-bubble {
      border-radius: 0px;
    }
  
    #event-table,
    #deck-table,
    #card-table,
    #leaderboard-table, 
    #miniboard-table {
      width: 99vw;
      max-width: 99vw;
      table-layout: fixed;
      font-size: 11pt;
    }
  
    #leaderboard-table tr, 
    #miniboard-table tr {
      width: 99vw;
      max-width: 99vw;
    }
  
    #leaderboard-table td, 
    #miniboard-table td {
      padding: 2px;
    }
  
    #leaderboard-table th, 
    #miniboard-table th {
      height: 25px;
      padding: 0px 5px;
      font-size: 12pt;
    }
  
    #leaderboard-table div.player-cell, 
    #miniboard-table div.player-cell {
      padding: 0px;
    }
  
    #leaderboard-table img.player-cell-pfp, 
    #miniboard-table img.player-cell-pfp {
      margin: 0px 8px;
    }
  
    #leaderboard-table tr th:nth-child(1), 
    #leaderboard-table tr td:nth-child(1),
    #miniboard-table tr th:nth-child(1), 
    #miniboard-table tr td:nth-child(1) {
      width: 40px;
    }
  
    #leaderboard-table tr th:nth-child(3), 
    #leaderboard-table tr td:nth-child(3),
    #miniboard-table tr th:nth-child(3), 
    #miniboard-table tr td:nth-child(3) {
      width: 60px;
    }
  
    #leaderboard-table tr th:nth-child(4), 
    #leaderboard-table tr td:nth-child(4),
    #miniboard-table tr th:nth-child(4), 
    #miniboard-table tr td:nth-child(4) {
      width: 50px;
    }
  
    #miniboard-table tr th:nth-child(5), 
    #miniboard-table tr td:nth-child(5),
    #miniboard-table tr th:nth-child(6), 
    #miniboard-table tr td:nth-child(6),
    #miniboard-table tr th:nth-child(7), 
    #miniboard-table  tr td:nth-child(7) {
      width: 50px;
    }
  
    #leaderboard-table tr th:nth-child(5), 
    #leaderboard-table tr td:nth-child(5),
    #leaderboard-table tr th:nth-child(6), 
    #leaderboard-table tr td:nth-child(6),
    #leaderboard-table tr th:nth-child(7), 
    #leaderboard-table tr td:nth-child(7) {
      width: 50px;
    }
  
    #leaderboard-table.medal-title, 
    #leaderboard-table tr th:nth-child(7), 
    #leaderboard-table tr td:nth-child(7) {
      display:none;
    }
  
    #miniboard-table.medal-title, 
    #miniboard-table tr th:nth-child(7), 
    #miniboard-table tr td:nth-child(7) {
      display:none;
    }
  
    .leaderboard-cell-2 {
      overflow: hidden;
    }
  
    #format-icon-large {
      height: 140px;
      width: 140px;
      border: 7px ridge #bf9c60;
      border-radius: 3px;
      margin: 7px 0px 7px 20px;
    }
  
      .format-icon-medium {
          height: 90px;
          width: 90px;
          border: 5px ridge #bf9c60;
          border-radius: 2.5px;
          margin: 5px;
      }
  
    .print-box {
      width: 100%;
      max-width: 100%;
    }
  
    .print-box table {
      width: 99vw;
      max-width: 99vw;
      table-layout: fixed;
      font-size: 11pt;
    }
  
    .print-box table td {
      padding: 6px;
    }
  }
  
  /* MEDIUM AND LARGE CELL PHONES */
  @media only screen and (max-width: 600px) {
    
  
    .filter {
      margin: 2px 4px;
    }
  
    td {
      padding: 4px 2px;
    }
  
    .pagination {
      display: flex;
      min-width: 0px;
      max-width: 100%;
      margin: 0px 8px;
      padding: 4px;
      align-items: center;
      justify-content: center;
    }
  
    .paginationWrapper {
      width: 90%;
      min-width: 0px;
      max-width: 100%;
      padding: 4px 4px 2px 4px;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    #to-start, #to-end, #to-minus-3, #to-plus-3 {
      display: none;
    }
  
    .vertical-adsense, .desktop-only {
      display: none;
    }
  
  
  
    .card-image {
      padding: 2px 4px;
    }
  
    .downloadButton {
      display: none;
    }
  
    .single-deck-title-flexbox, .event-title-flexbox {
      margin: 5px 0px;
      padding: 0px;
      width: 100%;
    }
  
    .single-deck-title, .single-event-title {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20pt;
      max-width: 100%;
      padding: 0px;
      margin-right: auto;
      margin-left: auto;
      transform: none;
    }
    
    .single-deck-table {
      width: 100%;
      margin: 5px 0px;
    }
  
    .single-deck-cell b {
      display: none;
    }
  
    .single-deck-cell, .single-event-cell {
      font-size: 12pt;
      padding: 2px;
      align-items: center;
      justify-content: center;
    }
  
    .single-deck-format-link, .single-deck-category, .single-event-format-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    #main.deck-bubble, #side.deck-bubble, #extra.deck-bubble {
      max-width: 100%;
      border-radius: 0px;
      padding: 4px 0px;
    }
  
    #main.deck-flexbox, #side.deck-flexbox, #extra.deck-flexbox {
      max-width: 100%;
      padding: 0px;
      justify-content: center;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
    }
    
    .deck-stats-table {
      width: 98%;
      margin: 2px auto;
    }
  
    .deck-stats-label {
      display: none;
    }
  
    .single-event-table {
      width: 98%;
      margin: 2px auto;
    }
  
    .bracket {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .event-info-container {
      width: 100%;
      padding: 5px 2px;
      margin-right: auto;
      margin-left: auto;
    }
  
    .subcategory-title-flexbox {
      width: 100%;
      justify-content: space-evenly;
      padding: 4px 0px;
    }
  
    .subcategory-title-flexbox img {
      max-width: 50px;
      height: auto;
    }
  
    .single-event-cell b {
      display: none;
    }
  
    .single-event-cell {
      font-size: 12pt;
      align-items: center;
      justify-content: center;
    }
  
    #bracket {
      margin: 0px;
    }
  
    .subheading {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20pt;
    }
  
    .subheading b {
      display: none;
    }
  
    .deck-flexbox {
      padding: 10px 0px;
      margin: 5px 0px;
    }
  
    .medal-title, 
    #leaderboard-table tr th:nth-child(5), 
    #leaderboard-table tr td:nth-child(5), 
    #leaderboard-table tr th:nth-child(6), 
    #leaderboard-table tr td:nth-child(6), 
    #leaderboard-table tr th:nth-child(7), 
    #leaderboard-table tr td:nth-child(7),
    #miniboard-table tr th:nth-child(5), 
    #miniboard-table tr td:nth-child(5), 
    #miniboard-table tr th:nth-child(6), 
    #miniboard-table tr td:nth-child(6), 
    #miniboard-table tr th:nth-child(7), 
    #miniboard-table tr td:nth-child(7) {
      display:none;
    }
  
    .format-icon-flexbox {
      width: 94vw;
      max-width: 94vw;
      margin: 0px 8px;
      padding: 4px 0px;
    }
  
    .format-text h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20pt;
      padding: 2px 4px;
    }
  
    .format-text h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14pt;
      padding: 2px 4px;
    }
  
    .format-desc {
      width: 90%;
      font-size: 12pt;
      line-height: normal;
      padding: 4px;
      margin: 0px 8px;
    }
  
    #format-icon-large {
      height: 80px;
      width: 80px;
      border: 4px ridge #bf9c60;
      border-radius: 2px;
      margin: 0px 0px 0px 10px;
    }
  
    .format-icon-medium {
        height: 80px;
        width: 80px;
        border: 4px ridge #bf9c60;
        border-radius: 2px;
        margin: 4px 8px;
        padding: 0px;
    }
  
    .single-card-image {
      padding: 0px;
      margin: 10px auto;
      max-width: 100%;
    }
  
    .single-card-table {
      width: 100%;
      max-width: 100%;
      padding: 0px;
      margin: 0px;
    }
  
    .single-card-title {
      font-size: 20pt;
    }
  
    .single-card-standard-row, .single-card-label-inner-td, .single-card-label-td {
      font-size: 15pt;
    }
  
    .single-card-table th {
      padding: 6px 10px;
      vertical-align: middle;
    }
  
    .single-card-table td {
      padding: 5px;
      vertical-align: middle;
    }
  
  
    .single-card-table td.single-card-description-box {
      border-radius: 0px;
      padding: 5px 10px;
    }
  
    .single-card-table td.single-card-description-label {
      padding: 5px 10px;
    }
  
    .blank-row {
      display: none;
    }
  
    .single-card-date-row {
      height: 40px;
    }
  
    .print-box {
      padding: 0px;
    }
  
    .prints-flexbox {
      width: 98%;
      padding: 0px;
      margin: 0px auto;
    }
  
    .single-card-description {
      padding: 5px 0px 0px 10px;
    }
  
    .status-flexbox {
      overflow: auto;
      margin: 25px 0px 15px;
      padding: 0px 0px 0px 5px;
      width: 100%;
      align-items: flex-start;
    }
  
    .status-cell {
      width: 18px;
    }
  
    .single-card-table span {
      display: none;
    }
  
    #atk-td, #def-td {
      text-align: center;
    }
  
    #dig {
      max-width: 100%;
      height: auto;
    }
  
    .player-profile-flexbox {
      flex-direction: column;
    }
  
    .player-info {
      padding: 5px 0px;
      min-width: 100%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  
    .player-awards {
      padding: 0px;
      width: 98%;
      margin-right: auto;
      margin-left: auto;
    }
  
    .badges-flexbox, .badges-title {
      margin: 6px;
      padding: 6px 0px;
      align-items: flex-start;
    }
  
    #popular-decks {
      padding: 20px 0px;
    }
  
    .badge-label {
      font-size: 10pt;
      text-align: center;
    }
  
    .badge img {
      width: 36px;
      height: auto;
    }
  }
  
  
  /* SMALL CELL PHONES */
  @media only screen and (max-width: 375px) {
    .pagination {
      display: flex;
      min-width: 0px;
      max-width: 100%;
      margin: 0px 8px;
      padding: 4px;
      align-items: center;
      justify-content: center;
    }
  
    .paginationWrapper {
      width: 90%;
      min-width: 0px;
      max-width: 100%;
      padding: 4px 4px 2px 4px;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    #to-start, #to-end, #to-minus-3, #to-plus-3 {
      display: none;
    }
  
    .vertical-adsense, .desktop-only {
      display: none;
    }
    
    .single-deck-category, .single-deck-category-emoji, #single-deck-uploaded-mobile {
      display: none;
    }
  
    .leaderboard-title, .miniboard-title, .subheading, .format-text h1, .single-card-title {
      font-size: 18pt;
    }
  
    .subcategory-title-flexbox img {
      max-width: 45px;
      height: auto;
    }

  }